<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Kurale|Lato|Montserrat|Open+Sans|Oswald|Raleway|Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <i class="fa fa-connectdevelop" aria-hidden="true" style="font-size: 60px; margin-left: 20px;"></i>
        <a class="navbar-brand" href="/Home/Index"> <strong style="font-stretch:narrower; font-size: 30px; margin-left: 10px; margin-top: 80px" class="brandName">
            TECH-FORUM
               </strong> <br />
        <small style="margin-left: 10px">The Home Of Technology And Programming</small>
        </a>
          
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
           
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
               
                <ul class="navbar-nav ml-auto" style="margin-right:20px;">
                    <li class="active nav-item"><a class="nav-link" href="/Home/Index"><i class="fa fa-home"></i> HOME <br/><small>Homepage</small></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Forum/Index"><i class="fa fa-book"></i> FORUMS <br/><small>See The Trends</small></a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" href="/Forum/Create"><i class="fa fa-plus-circle"></i> CREATE FORUM <br /><small>Create</small></a></li>
                        <li class="nav-item"><a class="nav-link" href="/Profile/Index"><i class="fa fa-users"></i> VIEW USERS <br /><small>Users</small></a></li>
                    }
                    <li class="nav-item"><a class="nav-link" href="/Home/About"><i class="fa fa-info-circle"></i> ABOUT <br/><small>About Us</small></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Contact"><i class="fa fa-phone"></i> CONTACT <br/><small>Contact Us</small></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
    </nav>
    
        <div class="body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
