@model MyForum.Models.Forum.ForumIndexViewModel

<div class="forumsPage">
<div class="jumbotron forumHeading">
    <h2><i class="fa fa-book" style="font-size: 30px"></i> FORUMS</h2>
</div>

<div class="forumPageTable">
<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr style="background-color: #343a40"> 
                <td>
                    <div class="row">
                        <div class="col-md-2">

                            @if (forum.Name == "Python")
                            {
                                <div class="Logo" style="background-image: url('/Content/python.png')"></div>
                            }
                            @if (forum.Name == "Javascript")
                            {
                                <div class="Logo" style="background-image: url('/Content/javascript.png')"></div>
                            }
                            @if (forum.Name == "C#")
                            {
                                <div class="Logo" style="background-image: url('/Content/csharp.png')"></div>
                            }
                            @if (forum.Name == "Go")
                            {
                                <div class="Logo" style="background-image: url('/Content/go.png')"></div>
                            }
                            @if (forum.Name == "Php" || forum.Name == "php")
                            {
                                <div class="Logo" style="background-image: url('/Content/php.png')"></div>
                            }
                            @if (forum.Name == "C")
                            {
                                <div class="Logo" style="background-image: url('/Content/c.png')"></div>
                            }
                            @if (forum.Name == "C++")
                            {
                                <div class="Logo" style="background-image: url('/Content/cpp.png')"></div>
                            }
                            @if (forum.Name == "CSS")
                            {
                                <div class="Logo" style="background-image: url('/Content/css.png')"></div>
                            }
                            @if (forum.Name == "Html")
                            {
                                <div class="Logo" style="background-image: url('/Content/html.png')"></div>
                            }
                            @if (forum.Name == "Java")
                            {
                                <div class="Logo" style="background-image: url('/Content/java.png')"></div>
                            }
                            @if (forum.Name == "Ruby")
                            {
                                <div class="Logo" style="background-image: url('/Content/ruby.png')"></div>
                            }
                            @if (forum.Name == "Kotlin")
                            {
                                <div class="Logo" style="background-image: url('/Content/kotlin.png')"></div>
                            }
                            @if (forum.Name == "Swift")
                            {
                                <div class="Logo" style="background-image: url('/Content/swift.png')"></div>
                            }
                            <div class="forumName">
                                <a href="/Forum/Topic/@forum.Id"><strong style="text-transform: uppercase">@forum.Name</strong></a>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="/Forum/Delete/id=@forum.Id" class="btn btn-primary modalLink" data-id="@forum.Id" data-toggle="modal" data-target="#myModal" style="margin-left: 10px; margin-top: 10px; padding: 5px 5px 5px 5px">
                                    Delete
                                </a>
                                <form method="post" action="/Forum/Delete" role="form">
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" style="color: black">@forum.Name Forum</h3>
                                                    <button class="close" type="button" data-dismiss="modal">&times</button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Are you sure you want to Delete this Forum?</h4>
                                                    @Html.Hidden("id", "", new { @class = "hiddenid" })
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    
                                                    <button type="submit" class="btn btn-primary">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div> 
                        <div class="col-md-2">
                            <div class="forumDescription">
                                @forum.ActiveUsers<br/>
                                Users
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="postsInside">
                                @forum.postsCount<br/>
                                Posts
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dateCreated">
                                @forum.Description
                            </div>
                        </div>
                    </div> 
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

@section Scripts{
    <script>
        $(document).on("click", ".modalLink", function () {
            var passedId = $(this).data('id');
            $(".modal-body .hiddenid").val(passedId);
        });
    </script>
    }
