@model MyForum.Models.Post.ForumTopicViewModel

<div class="topicPage">
<div class="jumbotron" id="topicHeading">

        @if (Model.Forum.Name == "Python")
            {
            <div class="Logo" style="background-image: url('/Content/python.png')"></div>
        }
        @if (Model.Forum.Name == "C#")
            {
            <div class="Logo" style="background-image: url('/Content/csharp.png')"></div>
        }
        @if (Model.Forum.Name == "Javascript")
            {
            <div class="Logo" style="background-image: url('/Content/javascript.png')"></div>
        }
        @if (Model.Forum.Name == "Go")
            {
            <div class="Logo" style="background-image: url('/Content/go.png')"></div>
        }
        @if (Model.Forum.Name == "Java")
            {
            <div class="Logo" style="background-image: url('/Content/java.png')"></div>
        }
        @if (Model.Forum.Name == "C")
            {
            <div class="Logo" style="background-image: url('/Content/c.png')"></div>
        }
        @if (Model.Forum.Name == "C++")
            {
            <div class="Logo" style="background-image: url('/Content/cpp.png')"></div>
        }
        @if (Model.Forum.Name == "CSS")
            {
            <div class="Logo" style="background-image: url('/Content/css.png')"></div>
        }
        @if (Model.Forum.Name == "Html")
            {
            <div class="Logo" style="background-image: url('/Content/html.png')"></div>
        }
        @if (Model.Forum.Name == "Swift")
            {
            <div class="Logo" style="background-image: url('/Content/swift.png')"></div>
        }
        @if (Model.Forum.Name == "Ruby")
            {
            <div class="Logo" style="background-image: url('/Content/ruby.png')"></div>
        }
        @if (Model.Forum.Name == "Kotlin")
            {
            <div class="Logo" style="background-image: url('/Content/kotlin.png')"></div>
        }
        <h2> @Model.Forum.Name Forum</h2>
    <form method="post" action="/Forum/Search/@Model.Forum.Id" role="form">
        <div class="searchForm">
            <input id="SearchQuery" name="SearchQuery" type="text" placeholder="Search...." class="searchBar" onfocus="clearThis(this)" />
            @Html.HiddenFor(m => m.Forum.Id, new { id = Model.Forum.Id })
            <button type="submit" class="btn buttonSearch">
                <i class="fa fa-search" style="font-size:20px"></i>
            </button>
        </div>
    </form>
        <hr/>
            <p style="padding-top: 10px">
                Welcome to the @Model.Forum.Name forum. <br />
                Please keep the posts friendly and on-topic.
            </p>
            @if (!User.Identity.IsAuthenticated)
            {
                <p>
                    <span>
                        You must be a
                        <a href="/Account/Register">
                            registered member
                        </a>
                        to create a new post.
                    </span>
                </p>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    <span style="position: relative; float: right; padding-bottom: 10px;padding-top: 10px; padding-right: 20px">
                        <a href="/Post/Create/@Model.Forum.Id" class="btn btn-info">Create New Post</a>
                    </span>
                </p>
           }
</div>
@if (Model.Posts.Any())
{
    <table class="table table-bordered" id="topicViewTable" style="border-radius: 10px">
        <tbody>
            @foreach (var topic in Model.Posts)
            {
                <tr style="background-color: #343a40">
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="forumTitle">
                                    <i class="fa fa-bookmark" style="background-size: 100%; font-size: 30px"></i>
                                    <span>
                                        <a href="/Post/Index/@topic.Id">
                                            @topic.Title
                                        </a><br />
                                        <span style="font-size: 12px; padding-left: 35px">Started By <a href="/Profile/Details/@topic.AuthorId" style="color: indianred; font-size: 12px">@topic.AuthorName</a></span>
                                    </span>
                                </div>
                                
                            </div>

                            <div class="col-md-3" style="vertical-align: middle">
                                <div class="subTitle">
                                    @if (topic.RepliesCount >= 2)
                                    {
                                        <span class="fa fa-comment"> @topic.RepliesCount Comments</span>
                                    }
                                    @if (topic.RepliesCount == 0)
                                    {
                                        <span class="fa fa-comments"> No Comments</span>
                                    }
                                    @if (topic.RepliesCount == 1)
                                    {
                                        <span class="fa fa-comments"> 1 Comment</span>
                                    }
                                    <br />
                                    <span class="fa fa-user-o" id="postUser">
                                        <a href="/Profile/Detail/@topic.AuthorId">
                                            @topic.AuthorName
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="subTitle">
                                    @{
                                        DateTime startTime = Convert.ToDateTime(@topic.DatePosted);
                                        DateTime endTime = DateTime.Now;
                                        TimeSpan span = endTime.Subtract(startTime);
                                        var datePosted = span;

                                        if (datePosted.Seconds <= 59 && datePosted.Minutes == 0 && datePosted.Hours == 0 && datePosted.Days == 0)
                                        {
                                            <span>
                                                Posted: @datePosted.Seconds secs ago
                                            </span>
                                        }
                                        if (datePosted.Minutes <= 59 && datePosted.Hours == 0 && datePosted.Days == 0)
                                        {
                                            <span>
                                                Posted: @datePosted.Minutes mins ago
                                            </span>
                                        }
                                        if (datePosted.Hours <= 23 && datePosted.Days == 0)
                                        {
                                            <span>
                                                Posted: @datePosted.Hours hours ago
                                            </span>
                                        }
                                        if (datePosted.Days != 0)
                                        {
                                            <span>
                                                Posted: @datePosted.Days days ago
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                Posted: ago
                                            </span>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
<div class="noPost">
    <h3>
        It looks like there are no @Model.Forum.Name posts yet.
    </h3><br/>
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    Why not
                        <a href= "/Post/Create/@Model.Forum.Id" >
                            <span style= "color: #17a2b8; font-weight:500" > Post </span>
                        </a>
                    something?
                  </p>
            }
           
</div>
}
</div>

@section Scripts{
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
    }